[Unit]
Description=cpuauto service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cpuauto --log-level-info
User=root
Restart=no

[Install]
WantedBy=multi-user.target