[Unit]
Description=powerplan service
After=multi-user.target

[Service]
User=root
Restart=no
Type=simple
ExecStart=/usr/bin/powerplan --verbose
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
